#!/bin/bash
set -x 


export STAT_OUTPUT_BASE_DIR=${STAT_OUTPUT_BASE_DIR:-"/lfs/h2/emc/vpppg/noscrub/emc.vpppg/gefs_pgc_stats/evs/v2.0/stats/${COMPONENT}"}
export job_name="pgc_precip_timeseries"
export PYTHONPATH="${HOME}/pgc_plotting/ush:/apps/ops/prod/nco/core/prod_util.v2.0.13/ush:/apps/prod/ve/intel/19.1.3.304/python/3.10.4/evs/1.0/lib/python3.10/site-packages"
export NET="evs"
export evs_ver_2d="v2.0"
export VERIF_CASE="grid2obs"
export VERIF_TYPE="metar"
export IMG_HEADER="pgc.evs.global_ens"
export USH_DIR="${HOME}/pgc_plotting/ush"
export FIXevs="${HOME}/pgc_plotting/fix"
export PRUNE_DIR="${HOME}/test/out/data"
export SAVE_DIR="${HOME}/test/out"
export RESTART_DIR=""
export STAT_OUTPUT_BASE_TEMPLATE="{MODEL}.{valid?fmt=%Y%m%d}/evs.stats.{MODEL}.atmos.${VERIF_CASE}.v{valid?fmt=%Y%m%d}.stat"
export LOG_TEMPLATE="$SAVE_DIR/logs/EVS_verif_plotting_${job_name}_$(date +'%Y%m%d%H%M%S')_$$.out"
export LOG_LEVEL="DEBUG"
export MET_VERSION="12.0"
export MODELS="gefs"
export VDATE="20241101"
export DATE_TYPE="VALID"
export EVAL_PERIOD="last10years"
export VALID_BEG=""
export VALID_END=""
export INIT_BEG=""
export INIT_END=""
export FCST_INIT_HOUR="12"
export FCST_VALID_HOUR="0,6,12,18"
export FCST_LEVEL="Z2"
export OBS_LEVEL="Z2"
export var_name="TMP2m"
export VX_MASK_LIST="CONUS"
export FCST_LEAD="24, 72, 120, 240"
export LINE_TYPE="SL1L2"
export INTERP="NEAREST"
export FCST_THRESH=""
export OBS_THRESH=""
export STATS="rmse"
export CONFIDENCE_INTERVALS="False"
export INTERP_PNTS=""
export PLOT_TYPE="timeseries"
export PYTHONDONTWRITEBYTECODE="1"

python ${USH_DIR}/${PLOT_TYPE}.py
